/*************************
 * Urdu Typing by WPAcademy
 * WPAcademy.PK
/*************************/
.wp-editor-area{
	font-size: 18px !important;
}

#titlediv #title-prompt-text{
	color: #bbbbbb;
	right: 0px;
}
#titlediv #title {
  height: 2.5em !important;
  padding: 15px !important;
}
.wp-editor-container textarea.wp-editor-area {
  line-height: 2 !important;
  font-size: 22px !important;
}
.wpac-ut_keyboard,
.wpac-ut_content{
    float: left;
    margin-right: 2%;
    width: 48%;
}

/************************
Nafees Nastaleeq
Developer:	Mr. Jamil-ur-Rehman http://www.crulp.org/software/localization.htm
************************/
@font-face {
  font-family: 'Nafees Nastaleeq';
  src: url('../fonts/nafees/nafeesnastaleeq.eot');
  src: url('../fonts/nafees/nafeesnastaleeq.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nafees/nafeesnastaleeq.woff') format('woff'),
       url('../fonts/nafees/nafeesnastaleeq.svg#nafeesnastaleeq') format('svg');
  font-weight: normal;
  font-style: normal;

}
@media screen and (max-width: 782px) {
  .wpac-ut_keyboard,
  .wpac-ut_content{
    float: none;
    margin-right: 0;
    width: 100%;
  }
}